SA_PASSWORD=Mondabet_Dev_2024!
REDIS_PASSWORD=Mondabet_Redis_2024
RABBITMQ_USER=mondabet
RABBITMQ_PASS=Mondabet_RMQ_2024
MINIO_ROOT_USER=mondabet
MINIO_ROOT_PASSWORD=Mondabet_Minio_2024
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Mondabet_KC_2024
